<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Torrez">

    <title>College Major Recommender</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i> <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#interpret">Interpreting Results</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- Quiz Section -->
    <section id="interests" class="container content-section text-center">
        <h1>RecoMajor</h1>
        <h2>College Major Recommendations for the Undedcided</h2>
        <h3>Answer the 20 questions below to get your recommendations:</h3>
        <div class="row interest-section">

            <div class="col-lg-12 quiz">
              {% for question in questions %}
              <div><p class='question-prompts'>{{ question.question_num }} {{ question.question }}</p>
                <input type="radio" class='interest' name= {{ question.question_num }} value=1 id="T"><label for="T">True</label><br/>
                <input type="radio" class='interest' name= {{ question.question_num }} value=0 id="F"><label for="F">False</label><br/>
              </div>
              {% endfor %}
              {% for question in risk_questions %}
              <div><p class='question-prompts'>{{ question.question_num }} {{ question.statement }}</p>
                <input type="radio" class='risk' name= {{ question.question_num }} value=0.2 id="T"><label for="T">{{ question.statementp }}</label><br/>
                <input type="radio" class='risk' name= {{ question.question_num }} value=0 id="F"><label for="F">{{ question.statementn }}</label><br/>
              </div>
              {% endfor %}
              {% for question in income_desire_questions %}
              <div><p class='question-prompts'>{{ question.question_num }} {{ question.statement }}</p>
                <input type="radio" class='income' name= {{ question.question_num }} value=0.2 id="T"><label for="T">{{ question.statementp }}</label><br/>
                <input type="radio" class='income' name= {{ question.question_num }} value=0 id="F"><label for="F">{{ question.statementn }}</label><br/>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <br>
            <a class="btn btn-default btn-lg submit">Submit</a>
            <br>
        </div>
    </section>

    <!-- Results Section -->
    <section id="results" class="container content-section text-center" hidden>
        <div class="row">
            <div class="col-lg-12">
              <h1>Catchy Title</h1>
              <div id='table' class="col-lg-12" >
              </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <a class="btn btn-default btn-lg take-again">Take Quiz Again</a>
                <br>
            </div>
        </div>
    </section>

    <!-- Interpret Section -->
    <section id="interpret" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Interpreting Results</h2>
                <p>This tool is meant to help you <b><i>explore</i></b> options. It wont' necessarily suggest things you are already interested in, and for those of you that have already started careers, it may not suggest what you have already chosen to do.</p>
                <p>I'm currently working to add automatic feedback about why you received the recommendations you did, but until that functionality is working, here is a quick breakdown:</p>
                <p>The quiz captures a macro "field of study" that you might be interested in. There are only five fields of study I used in order to provide diverse recommendations. Your interests are then weighted by how secure you want your future career to be and how important potential earnings might be to you. This produces the final list of recommendations you'll receive.</p>
                <p>The more honestly you answer the questions, the better the recommendations will be. But also don't be afraid to take the quiz more than once. Change your answers, see how things change; it is often obvious what the questions are trying to get at so don't be afraid to purposely skew your results to explore new options.</p>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact the Author</h2>
                <p>Feedback? Want to nerd out about data science?</p>
                <h3>Get in touch!</h3>
                <p>Here are a few places to find me:</p>
                <p><a href="mailto:jonathan.a.torrez@gmail.com">jonathan.a.torrez@gmail.com</a></p>
                <ul class="list-inline banner-social-buttons">
                    <!--
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    -->
                    <li>
                        <a href="https://github.com/jtorrez" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jonathantorrez" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Jonathan Torrez 2016</p>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/grayscale.min.js"></script>

</body>

</html>
